.Userpass {
    display: flex;
    justify-content: center;
    width: 500px;
    height: 200px;
    padding-top: 300px;
    margin: auto;
    flex-direction: column;
    /* flex-wrap: ; */
}

.Userpass button {
    height: 50px;
}

.Userpass input {
    width: 492px;
    height: 50px;
    font-size: 20px;
}
